<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <mata name = "viewport" content="width=device-width, initial-scale=1.0">
    <title>Snakes and ladders</title>
    <style>
        body {
            background-color: lightblue;
            padding: 50px;
            background-color: lightgreen;
        }
        button{
            height: 50px;
            width: 75px;
            border: 3px solid transparent;
            background-color: aquamarine;

        }
        button:hover {
            border: 3px solid white;

        }
        a{
            text-decoration:none;
        }
    </style>
</head>
<body>
    <h1>Snake and ladder</h1>
    <button><a href="2player.html">2 player mode</button>
    <button><a href="3player.html">3 player mode</button>
        
</body>
</html>